<!-- WebContent/WEB-INF/web.xml -->
<web-app>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>admin.AdminLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DoctorLogin</servlet-name>
        <servlet-class>doctor.DoctorLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoctorLogin</servlet-name>
        <url-pattern>/doctorlogin</url-pattern>
    </servlet-mapping>
</web-app>
